<!-- Banner -->
  <section id="banner" style="padding-top: 1.5em;">
    <div class="content">
      <header>
        <h2 style="font-size: 25pt; margin-bottom: 10px;" title="Welcome to my abode! (dare ye not utter the black tongue of mordor, for the great eye shall turn upon ye and turn ye to nothingness!)">Broshan u izub votar!</h2>
      </header>
      <p>I am Soumyadeep Das, an incoming doctoral student at ICRAR/ University of Western Australia, Perth. I am interested in Active galactic nuclei (AGN) research via multiwavelength studies. I plan to study the evolutionary path of radio galaxies - focussing on questions such as why all young and compact sources do not evolve into giant radio galaxies, what triggers an AGN restart, and the role of the host environment on AGN life-cycle. Further, I am interested in the unified theory of AGN classification.  My primary interests lie in imaging and analysis of radio interferometric data of different classes of AGN at different resolutions, frequencies, and sensitivities. In the long run, I hope to make a difference in making a career in science more accessible to less fortunate Indian students. </p>
      <ul class="actions" style="font-size: smaller;">
        <li><a href="{{ 'resume' | absolute_url  }}" class="button icon fa-file-text">Resume</a></li>
        <li><a href="{{ 'research' | absolute_url  }}" class="button special icon fa-magic">Research</a></li>
      </ul>
    </div>
    <span class="image object">
      <picture>
        <source data-srcset="assets/images/gmrt-group-picture.webp" type="image/webp" >
        <source data-srcset="assets/images/gmrt-group-picture.jpg" type="image/jpeg" > 
        <img src="assets/images/gmrt-group-picture-thumb.jpg" alt="Bunch of interns at the Giant Meterwave Radio Telescope (GMRT), at Pune, India." data-src="assets/images/gmrt-group-picture.jpg"  class="lazyload" />
      </picture>
      
    </span>
  </section>
