<!-- Banner -->
  <section id="banner" style="padding-top: 1.5em;">
    <div class="content">
      <header>
        <h2 style="font-size: 25pt; margin-bottom: 10px;" title="Welcome to my abode! (dare ye not utter the black tongue of mordor, for the great eye shall turn upon ye and turn ye to nothingness!)">Hello there!</h2>
      </header>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer in venenatis metus, vitae semper lacus. Aliquam non eros mi. Donec felis neque, finibus vitae purus at, luctus viverra nibh. Aliquam varius leo felis, quis feugiat neque rhoncus sed. Integer vehicula pretium nunc, ut commodo lacus vestibulum id. Etiam fermentum neque arcu, gravida fermentum purus blandit ac. Nunc enim sapien, ullamcorper ut lectus eu, viverra feugiat leo. Duis elementum at leo sit amet pulvinar. </p>
      <ul class="actions" style="font-size: smaller;">
        <li><a href="{{ 'resume' | absolute_url  }}" class="button icon fa-file-text">Resume</a></li>
        <li><a href="{{ 'research' | absolute_url  }}" class="button special icon fa-magic">Research</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/pic10.jpg" alt="Editorial extended is a template which implements several functionalities out of box." />  
    </span>
  </section>
