{% assign prawtags = "" %}
{% for post in site.projects %}
  {% assign ttags = post.tags | join:'|' | append:'|' %}
  {% assign prawtags = prawtags | append:ttags %}
{% endfor %}
{% assign prawtags = prawtags | split:'|' | sort %}

{% assign site.ptags = "" %}
{% for tag in prawtags %}
  {% if tag != "" %}
    {% if tags == "" %}
      {% assign tags = tag | split:'|' %}
    {% endif %}
    {% unless tags contains tag %}
      {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
    {% endunless %}
  {% endif %}
{% endfor %}
