<ul style="font-size: small; margin:-70px 0 -20px 0; padding: 0;" class="icons">
  <li><a href="https://twitter.com/share?url={{ post.img-link | absolute_url }}" target="_blank" rel="noopener noreferrer"  class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      {% if post.twitter-link %}
    <li><a href="{{ post.twitter-link | absolute_url }}"  target="_blank"  rel="noreferrer" class="icon fa-retweet"><span class="label">Retweet</span></a></li>
    {% endif %}
  <li><a href="http://www.facebook.com/sharer.php?u={{ post.img-link | absolute_url }}"  target="_blank"  rel="noreferrer" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
  <li><a href="https://api.whatsapp.com/send?text={{ post.img-alt }} - {{site.title}} {{ post.img-link | absolute_url }}?utm_campaign=webwhatsapp_article_share%26utm_medium%3dreferral%26utm_source%3dwhatsapp.com"  rel="noopener noreferrer" target="_blank" class="icon fa-whatsapp"><span class="label">Whatsapp</span></a></li>
  <li><a href="http://pinterest.com/pin/create/link/?url={{ post.img-link | absolute_url }}&description={{ post.img-alt }} - {{site.title}}"  rel="noopener noreferrer" target="_blank" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
  <li><a href="http://reddit.com/submit?url={{ post.img-link | absolute_url }}&amp;title={{ post.img-alt }} - {{site.title}}"  rel="noopener noreferrer" target="_blank" class="icon fa-reddit"><span class="label">Reddit</span></a></li>
</ul>
