<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />

  <!-- ENTER CRITICAL CSS HERE TO SPEED UP YOUR WEBSITE -->
  <!-- Simple online minification via https://jonassebastianohlsson.com/criticalpathcssgenerator/ -->

  <!-- Main CSS. Replace this with a main.min.css for faster webpages -->
  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" media="print" onload="this.media='all'"/>
  
  <!-- Website Icon and Logo -->
  <link rel="shortcut icon" type="image/png" href="{{ 'assets/images/favicon.png?' | relative_url }}"/>

  <!-- OG Image for sharing the website to social media -->
  <meta property="og:image" content="{% if page.image %}{{ page.image | absolute_url  }}{% else %}{{ site.image | absolute_url  }}{% endif %}">
  <meta property="og:type" content="article">
  <meta property="twitter:image" content="{% if page.image %}{{ page.image | absolute_url  }}{% else %}{{ site.image | absolute_url  }}{% endif %}">
  <meta property="twitter:description" content="{% if page.description %}{{ page.description  }}{% else %}{{ site.description  }}{% endif %}">

  <!-- Fonts and Icons Styles -->
  <link href="https://fonts.googleapis.com/css?family=Bebas+Neue:400|Fira+Sans:300,400,600,300italic|Source+Sans+Pro:400&display=swap" rel="stylesheet" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css" rel="stylesheet" crossorigin="anonymous">

  <!-- Additional Necessary CSS -->
  <link rel="stylesheet" href="{{ 'assets/css/collapsing-list.css' | relative_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'assets/css/home-overlay.css' | relative_url }}" media="print" onload="this.media='all'"/>

  <!-- Keep this to make tags clickable -->
  {% if site.tags != "" %}
      {% include collecttags.html %}
  {% endif %}

  <!-- Search Engine Optimization -->
  {% seo %}

  <!-- CSS for Old Internet Explorers. -->
  <!--[if lte IE 8]><script src="{{ 'assets/js/ie/html5shiv.js' | relative_url }}"></script><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ 'assets/css/ie9.css' | relative_url }}" /><![endif]-->
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ 'assets/css/ie8.css' | relative_url }}" /><![endif]-->

</head>
