<!-- Header -->
<header id="header">
{% if page.title == "Home" %}
    <a style="font-size: 1em;" href="{{ '#nobanner' | absolute_url }}" class="logo"><strong>{{ site.title }}</strong> {{ site.subtitle }}</a>
{% endif %}

 <section id="search" class="alt">
 <form method="get" action="/search.html">
    <input  style="font-size: 1em;" type="text" name="query" id="search-box" placeholder="Search" aria-label="Search in this site"/>
 </form>
 </section>

</header>
