<!-- Adds buttons to tags in blog posts -->
<span style="display: inline;">
    {% if page.tags %}
        <i class="fa fa-tags"></i>&nbsp;&nbsp;Tags:&nbsp;&nbsp;
    {% endif %} 
    {% if page.tags[0] %}
        <a href="#" class="button small">{{ page.tags[0] }}</a>&nbsp;&nbsp;
    {% endif %}    

    {% if page.tags[1] %}
        <a href="#" class="button small">{{ page.tags[1] }}</a>&nbsp;&nbsp;
    {% endif %}    
    
    {% if page.tags[2] %}
        <a href="#" class="button small">{{ page.tags[2] }}</a>&nbsp;&nbsp;
    {% endif %}        
    
    {% if page.tags[3] %}
        <a href="#" class="button small">{{ page.tags[3] }}</a>&nbsp;&nbsp;
    {% endif %}        
    
    {% if page.tags[4] %}
        <a href="#" class="button small">{{ page.tags[4] }}</a>&nbsp;&nbsp;
    {% endif %}        
    
    {% if page.tags[5] %}
        <a href="#" class="button small">{{ page.tags[5] }}</a>&nbsp;&nbsp;
    {% endif %}        
    
    {% if page.tags[6] %}
        <a href="#" class="button small">{{ page.tags[6] }}</a>&nbsp;&nbsp;
    {% endif %}        
    
    {% if page.tags[7] %}
        <a href="#" class="button small">{{ page.tags[7] }}</a>&nbsp;&nbsp;
    {% endif %}        
    
    {% if page.tags[8] %}
        <a href="#" class="button small">{{ page.tags[8] }}</a>&nbsp;&nbsp;
    {% endif %}        
    
    {% if page.tags[9] %}
        <a href="#" class="button small">{{ page.tags[9] }}</a>&nbsp;&nbsp;
    {% endif %}    
    
        <hr>    
</span>
