<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section class="alt">
        <center>
           <img src="{{ site.author.avatar-thumb | absolute_url }}" class="avatar" style="width:100px;height:100px;" alt="{{ site.author.name }}" data-echo="{{ site.author.avatar | absolute_url }}"> <br>
          <p><b>{{ site.author.name }}</b><br>{{ site.author.author-bio }}</p>
          </center>
        </section>

      <!-- Menu -->
        <nav id="menu">
          <ul style="font-size: small; font-weight: 400; font-family: 'Source Sans Pro',Roboto, sans-serif">
               {% if page.title != "Home" %}
                 <li><a  href="{{ '#nobanner' | absolute_url }}"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;Homepage</a></li>    
              {% else %}
                <li><b><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;&nbsp;Homepage</b></li> 
              {% endif %} 



              {% if page.permalink != "elements/" %}
                 <li><a href="{{ 'elements/' | absolute_url }}"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Elements</a></li>    
              {% else %}
                <li><b><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Elements</b></li>    
              {% endif %} 

              {% if page.permalink != "research/" %}
                 <li><a href="{{ 'research' | absolute_url }}"><i class="fa fa-magic"></i>&nbsp;&nbsp;&nbsp;&nbsp;Research</a></li>    
              {% else %}
                <li><b><i class="fa fa-magic"></i>&nbsp;&nbsp;&nbsp;&nbsp;Research</b></li>  
              {% endif %} 

              {% if page.permalink != "generic/" %}
                 <li><a href="{{ 'generic/' | absolute_url }}"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Generic</a></li>    
              {% else %}
                <li><b><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Generic</b></li>    
              {% endif %} 

              {% if page.permalink != "blogs/" %}
                 <li><a href="{{ 'blogs' | absolute_url }}"><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Blog Posts</a></li>    
              {% else %}
                <li><b><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Blog Posts</b></li>  
              {% endif %} 

              {% if page.permalink != "gallery/" %}
                 <li><a  href="{{ 'gallery' | absolute_url }}"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Image Gallery</a></li>   
              {% else %}
                <li><b><i class="fa fa-picture-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;Image Gallery</b></li>  
              {% endif %} 
          </ul>
        </nav>

         <!-- Section -->
        <section>
          <header class="major">
            <h3 style="border-bottom: none;" >Get in touch</h3>
          </header>
          <ul class="icons" style="font-size: small;">
              <li><a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer"  class="icon fa-envelope"><span class="label">Email</span></a></li>
              <li><a href=" {{ site.author.linkedin }} "  target="_blank"  rel="noreferrer" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
              <li><a href=" {{ site.author.twitter }} "  rel="noopener noreferrer" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a style="color: #444444;" href=" {{ site.author.googlescholar }} " target="_blank"  rel="noopener noreferrer" class="icon-ai ai-google-scholar"><span class="label">Google Scholar</span></a></li>
              <li><a href=" {{ site.author.github }} "  rel="noopener noreferrer" target="_blank" class="icon fa-github"><span class="label">Linkedin</span></a></li>
              <li><a href=" {{ site.author.gitlab }} " target="_blank"  rel="noopener noreferrer" class="icon fa-gitlab"><span class="label">Gitlabs</span></a></li>
              <li><a style="color: #444444;" href=" {{ site.author.orcid }} " target="_blank"  rel="noopener noreferrer" class="icon-ai ai-orcid"><span class="label">ORCID</span></a></li>
          </ul>
        </section>

      <!-- Footer -->

      <!-- Footer -->
        <footer id="footer">
          <p style="color: #666;" class="copyright">&copy; {{ site.title }}. All rights reserved. Version {{ site.myversion }}. Banner image by <a target="_blank"  rel="noopener noreferrer"  href="https://unsplash.com/@directedbyshawn"><u>Shawn Rodgers</u></a> on <a target="_blank"  rel="noopener noreferrer"  href="https://unsplash.com/photos/ots4y2FgNMo"><u>Unsplash</u></a>. Design: <a target="_blank"  rel="noopener noreferrer"  href="https://html5up.net"><u>HTML5 UP</u></a>. Jekyll integration: <a target="_blank"  rel="noopener noreferrer"  href="https://gitlab.com/andrewbanchich"><u>Andrew Banchich</u></a>. Adapted by <a target="_blank"  rel="noopener noreferrer"  href="https://gitlab.com/dassoumyadeep"><u>Soumyadeep Das</u></a>. Hosted on Gitlab Pages.</p>
        </footer>

    </div>
  </div>
