img {
  border-radius: 50%;
  border-radius: 50%
}
.avatar {
    display: block;
    border-radius: 200px;
    box-sizing: border-box;
    background-color: #DDD;
    padding: 5px;
    border: 1px solid #cfd8dc;
  
}

h4.nomargin {
  margin-bottom:2px;
  }

a.nobottom{
  border-bottom: none;
}

.sidebar-social {
    margin: 0;
    padding: 0;
}

.sidebar-social ul {
    margin: 0;
    padding: 6px;
}

.sidebar-social li {
    text-align: center;
    width: 23%;     /*Icon Width*/
    margin-bottom: 3px!important;/*
    background-color: #fff;
    border: 1px solid #eee;*/
    display: inline-block;
    font-size: 9px;
    padding:0;
}

.sidebar-social i {
  display: block;
  margin: 0 auto 10px auto;
  width: 28px;
    height: 28px;
    margin: 3px auto 0;
    line-height: 32px;
    text-align: center;
    font-size: 20px;
    color: #444444;
  margin-top:0;
  padding-top:5px;
}
.sidebar-social a{
  text-decoration:none;
  width:100%;
  height:100%;
  border-bottom: none;
  display:block;
  margin:0;
  padding:0;
}

.sidebar-social a span{
  color:black;
  font-size:9px;
  padding:5px 0 10px 0;
  display:block;
  text-transform:uppercase;
  letter-spacing:1px;
}

.sidebar-social a:hover i.fa-envelope-o { color: #f44336; }
.sidebar-social a:hover i.fa-linkedin { color:#0D47A1 }
.sidebar-social a:hover i.ai-google-scholar { color:#43A047 }
.sidebar-social a:hover i.fa-github { color:#FFD400 }

.sidebar-social a:hover i.fa-facebook { color: #FF0000; }
.sidebar-social a:hover i.fa-twitter { color:#00ABE3 }
.sidebar-social a:hover i.fa-instagram { color:#FFD400 }
.sidebar-social a:hover i.fa-pinterest { color:#FF0000 }
.sidebar-social a:hover i.fa-google-plus { color:#cb2027 }
.sidebar-social a:hover i.fa-flickr { color:#FF57AE }
.sidebar-social a:hover i.fa-500px { color:#00ABE3 }
.sidebar-social a:hover i.fa-youtube { color:#FF1F25 }
.sidebar-social a:hover i.ai-ads { color:#FF57AE }
  
