<!DOCTYPE HTML>
<!--
    Editorial by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Page not found | {{ site.title }}</title>
    </head>

<body>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,500&display=swap" rel="stylesheet" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/assets/css/spacy404.css">
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div id="404bg" class="inner" style="height: 100vh; width: 100vw; margin:0; padding: 0; background-image: url(/assets/images/andy-holmes-thumb.jpg) center center no-repeat; background-size: cover;" >
                    {{ content }}

            </div>
        </div>


    </div>

      {% include lazyload.html %}


    <script type = "text/javascript" src = "/assets/js/jquery.min.js"></script>
    <script type = "text/javascript" src = "/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function()  {
            var randind = Math.floor(Math.random()*4);
            var randcat = Math.floor(Math.random()*2);
            var mtxt =  document.getElementById("mytxt")
            txts = ['There are over 60000 stars per square degree in the night sky.', 'There are about 100-400 billion stars in the milky way.', 
                'There are over 200 billion galaxies in the universe.', 'The tiny Hubble Deep Field contained 3000 extragalactic objects.'
            ]
            catt = ['The universe is so big, its easy to get lost.', 'The universe is massive. Stuff keeps getting blown up.']
            document.getElementById("mytxt").innerHTML = txts[randind];
            document.getElementById("mycat").innerHTML = catt[randcat];
        });
    </script>

    <script src="/assets/js/spacy404.js"></script>     
    <script async type="text/javascript">
        $(document).ready(function()  {
            //480, 768, 1080, 1680
            var screenWidth = window.innerWidth;
            var screenHeight = window.innerHeight;
            if (screenWidth > screenHeight) { // Landscape
                document.getElementById("404bg").style.backgroundImage='url(/assets/images/andy-holmes-landscape.jpg)';
            } else{ //portrait
                document.getElementById("404bg").style.backgroundImage='url(/assets/images/andy-holmes-portrait.jpg)';
            }
        });

    </script> 


</body>

</html>
