<!DOCTYPE HTML>
<!--
  Editorial by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">

{% include head.html %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<style type="text/css">
    img{
        border-radius: 2px;
        text-decoration: none;
    }

    .img-avatar{
        float: left;
        margin-right:1rem;
    }

</style>

<body>


    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">
         <!--      {% if page.title != "Home" %}    -->
                {% include header.html %}
    <!--           {% endif %} -->
                <!-- Content -->
                <section style="padding-top: 1.5em;">
                      <a name="top"></a>
                    <header class="main">
                        <h2 style="margin: 0 0 0.45em 0; font-size: 2.3em;">{{ page.title }}</h2>
                    </header>

                    <div >
                      <img src="/assets/images/avatar-2-thumb.jpg" style="width:40px;height:40px;  border-radius: 50%; border: 0px;"  class="img-avatar" alt="{{ site.author.name }}" data-echo="/assets/images/avatar-2.jpg"> 
                      <p style="font-size: small;" class="post-meta"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name"><b>{{ page.author }}</b><br>
                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>&nbsp;&bull;&nbsp;{% include post-readtime.html %}</p>     

                    </div>
                    {% if page.status == "beta" %} 
                      <p><a style="font-size: small;" class="tag_marker"><span>(Warning) This article is not yet ready for publication, and might contain placeholder texts and images.</span></a></p>
                     {% endif %}

                  {% if page.image %}
                    <span class="image main">
                        <picture>
                  <img src="{{ page.image | absolute_url }}" alt="{{ page.img-alt }}" />
                  <figcaption style="color: #555555; font-size: smaller; text-align: right;" ><i>{{ page.image-source }}</i></figcaption>
               </picture>                          
                    </span>
                    {% endif %}

                <div align="justify">{{ content }}</div>
                <ul style="font-size: smaller;" class="actions">
                        <li><a href="#top" class="button icon fa-angle-double-up">&nbsp;Back to Top</a></li>
                        <li><a href="{{ 'blogs' | absolute_url  }}" class="button icon fa-pencil-square-o">Explore other blogs</a></li>
                        </ul>
                        <hr>
                        
                     {% include post-tagparse.html %}
                     {% include post-socialshare.html %}

              </div>
          </div>

          {% include sidebar.html %}

      </div>

      {% include footer.html %}


      {% include lazyload.html %}


</body>

</html>
